header, main {
    background-color: blanchedalmond;
}
header div {
    display: flex;
    justify-content: center;
    font-size: 3em;
    gap: 1rem;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
}
main section {
    display: flex;
    flex-direction: column;
}
main section div:first-child {
    min-width: 50%;
    display: flex;
    flex-direction: column;
}
