:root {
  --primary-color: #fd9b04;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-second {
  background-color: #f7e1da;
}

.bg-third {
  background-color: #a66b59;
}

header div {
  align-items: center;
  gap: 1rem;
}

header,
main,
footer {
  padding: 1em;
}

li {
  list-style: none;
}
h1 {
  font-size: 3em;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.flex--flex {
  flex-direction: row;
  gap: 0;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

footer {
  align-items: center;
}

@media (width = 810px) {
  flex-direction: column;
}
